/* Searchbar */

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.search-bar input {
  width: 30rem;
  border-radius: 5px;
  padding: 7px;
  border: 1px solid rgb(194, 191, 191);
}


/* main */

.main {
  padding: 3rem 2rem;
  background-color: rgba(226, 208, 178, 0.209);
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 88vh;

}

.pokemons {
  padding: 2em;
  margin: 2em 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
  border-style: solid;
  border-radius: 7px;
  border-width: 1px;
  border-color: rgba(255, 200, 0, 0.926);
}

.pokemon {
  padding: 1rem;
  /* width: 15%; */
  border-style: solid;
  border-radius: 7px;
  border-width: 1px;
  border-color: rgba(255, 200, 0, 0.926);
}

.pokemonname {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.pokemoncard {
  justify-content: center;    
  align-items: center;
}
.backbuttondiv {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.errorpage {
  min-height: 60vh;
}

a.page-link  {
  color: gray;
}

.pagination {
  gap: 4px;
}

.pokefight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}

.playerA,
.playerB {
  border-style: solid;
  width: 25rem;
  min-height: 25rem;
}

.fightbutton {
  width: 20%;
  margin: 3rem;
}

.buttongroupfight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playagainbutton {
  width: 20%;
  margin: 3rem;
}

.disabled {
  display: none;
}