/* Searchbar */

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.search-bar input {
  width: 30rem;
  border-radius: 5px;
  padding: 7px;
  border: 1px solid rgb(194, 191, 191);
}


/* main */

.main {
  padding: 3rem 2rem;
  background-color: rgba(226, 208, 178, 0.209);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  flex: 1;
  min-height: 95vh;
}

.pokemons {
  padding: 2em;
  margin: 2em 4em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  border-style: solid;
  border-radius: 7px;
  border-width: 1px;
  border-color: rgba(255, 200, 0, 0.926);
  width: 80%;
  
}

.pokemon {
  padding: 1rem;
  border-style: solid;
  border-radius: 7px;
  border-width: 1px;
  border-color: rgba(255, 200, 0, 0.926);
  /* width: 15%; */
  flex-basis: 150px;
  flex-grow: 1;
  /* flex-basis: 0; */
}

.pokemonname {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.pokemoncard {
  justify-content: center;    
  align-items: center;
}
.pokepicPokepage{
  width: 900px;
}


.backbuttondiv {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.selectbtns{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.errorpage {
  min-height: 60vh;
}

a.page-link  {
  color: gray;
}

.pagination {
  gap: 4px;
}

/* Pokefight */

.pokefight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}

.playerA,
.playerB {
  border-style: solid;
  width: 25rem;
  min-height: 15rem;
}

.pokefight-img{
  width: 300px;
}

.buttongroupfight {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.disabled {
  display: none;
}

.card {
  padding: 2rem;
  display: flex;
  align-items: center;
}

/* PokemonInfo */

.pokemoninfo {
  padding: 5rem;
}

.types{
  padding: 1rem;
  font-size: 1.5rem;
}

.pokemoninfoheading{
  padding-bottom: 2rem;
  font-size: 3rem;
}

/* fightresult */

.fightresult {
  min-height: 45vh;
  display: flex;
  align-items: center;
}

.fightresult{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.fightresulttext{
  font-size: 2rem;
  font-weight: 700;

}